github "Alamofire/Alamofire" ~> 4.0
github "SwiftyJSON/SwiftyJSON" ~> 3.0
github "marketplacer/keychain-swift" ~> 6.0
github "Nike-Inc/Willow" ~> 2.0
github "onevcat/Kingfisher" ~> 3.0
github "papertigers/Dwifft" "master"
github "papertigers/OrderedSet" "master"
github "cbpowell/MarqueeLabel" ~> 3.0
github "AliSoftware/Reusable" ~> 4.0
